- content_for :title do
  = "#{@project.name} - Donor list"
  
.row
  .col-md-12
    %h1
      = content_for(:title)
    %table.table.table-hover.donor-list
      %thead
        %tr
          %th.date Date
          %th.amount Amount
          %th.sender-address Sender address
          %th.transactions Transaction
      %tbody
        - @project.deposits.includes(:donation_address).order(created_at: :desc).each do |deposit|
          %tr.donor-row
            %td.date= l(deposit.created_at)
            %td.amount= btc_human deposit.amount
            %td.sender-address= deposit.donation_address.try(:sender_address).presence || 'No address provided'
            %td.transactions.txid
              = link_to transaction_url(deposit.txid) do
                %abbr{title: deposit.txid}= truncate(deposit.txid, length: 10)
